@(esForm: play.data.Form[String], esProducts: java.util.List[models.Product])(implicit request: Http.Request)
@import helper._

@main("Elasticsearch") {
    <!-- Modal -->
    <div class="modal fade" id="index-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete all products from Elasticsearch?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row justify-content-around">
                    <div class="col-5">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Go back</button>
                    </div>
                    <div class="col-5">
                    @form(action = routes.EsController.deleteAllProducts()) {
                        @CSRF.formField
                        <button type="submit" class="btn btn-success btn-block delete-product-btn">Confirm</button>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- <end>Modal -->
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-primary btn-shadow" href="@routes.HomeController.index()">Back to index</a>
            <a class="btn btn-outline-success btn-shadow ml-3" href="@routes.ProductController.showProductsDefault()">
                See all products</a>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">

        <div class="col-11 admin-background">

            @*-- SEARCH BAR --*@
            <div class="row justify-content-around mt-5 mb-3">
            @form(action = routes.EsController.search(), Symbol("class") -> "form-inline col-12 row justify-content-center") {
                @inputText(esForm("search"),
                    Symbol("_class") -> "form-group col-8 row typeaheadInputField", Symbol("class") -> "form-control es-form-search col-12 typeahead",
                    Symbol("_label") -> null,
                    Symbol("_showErrors") -> false,
                    Symbol("placeholder") -> "search a product..."
                )
                <div class="form-group col-3 ml-3">
                    <button id="buttonTypeahead" type="submit" class="btn btn-block btn-light btn-shadow">search</button>
                </div>
            }
            </div>

            @*-- SEARCH RESULTS --*@
            <div class="row justify-content-around mb-5 mt-2">
            @if(!esProducts.isEmpty) {
                @if(esForm.hasErrors) {
                    <div class="col-12 my-2 text-center esErrors">
                        <i>no
                            @if(esForm.error("ean").isPresent) {
                                <b>ean</b>
                            }
                            @if(esForm.error("ean").isPresent && (esForm.error("name").isPresent || esForm.errors().size() > 1)) {
                                or }
                            @if(esForm.error("name").isPresent) {
                                <b>name</b>
                            }
                            @if(esForm.error("name").isPresent && esForm.error("description").isPresent) { or }
                            @if(esForm.error("description").isPresent) {
                                <b>description</b>
                            }
                            corresponding to your search has been found
                        </i>
                    </div>
                }
                @for(p <- esProducts) {
                    <a href="@routes.ProductController.showProduct(p.getEan)" class="col-xs-12 col-md-5 m-4 card product-card">
                        <div class="row justify-content-center card-header">
                            <h3 class="col-10 text-center">@p.getName</h3>
                        </div>
                        <div class="row justify-content-center card-body">
                            <div class="col-12 imgDiv">
                                <img src="@routes.ProductController.showProductImage(p.getEan)" alt="picture of @p.getName"/>
                            </div>
                            <div class="col-10 text-center mt-3">@p.getDescription</div>
                            <div class="col-12 text-left mt-3 p-1 card-ean">EAN ref. @p.getEan</div>
                        </div>
                    </a>
                }
            } else {
                @if(esForm.field("search").value().isPresent) {
                    <div class="col-12 my-2 text-center esErrors"><i>
                        no product corresponding to your search has been found</i></div>
                }
            }
            </div>
        </div>

        @*-- INDEXING BAR --*@
        <div class="col-11 admin-background bottom-bar my-5">
            <div class="row justify-content-around my-1">
                <div class="col-4 my-2">
                @form(action = routes.EsController.indexAllProducts()) {
                    @CSRF.formField
                    <button type="submit" class="btn btn-block btn-warning py-1">INDEX ALL</button>
                }
                </div>
                <div class="col-4 my-2">
                    <a class="btn btn-block btn-danger py-1" data-toggle="modal" data-target="#index-delete-modal">
                        DELETE ALL</a>
                </div>
            </div>
        </div>
    </div>
}